---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Ethan Chang Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="main">
         
         <div id="img-title">
            <img id = "headshot-img" src = "/headshot.jpg">

            <div id="title-navbar">
               <h1 id="name">Ethan Chang</h1>
               <p>
                  Mechanical Engineering, Cal Poly SLO
               </p>
        
               <div id="main-navbar">
                  <a href ="https://www.linkedin.com/in/ethan-chang-2b56562a0/" > 
                     <div class="btn" >
                        <img class = "svg-icon" src ="/icons/linkedin.svg" >
                        <p class="accent"> LinkedIn </p>
                     </div>
                  </a>
                  <a href ="https://github.com/EthanSChang" > 
                     <div class="btn" >
                        <img class = "svg-icon" src ="/icons/github.svg" >
                        <p class="accent"> Github </p>
                     </div>
                  </a>
                  <a href ="mailto:chang.sh.ethan@gmail.com" > 
                     <div class="btn" >
                        <img class = "svg-icon" src ="/icons/email.svg" >
                        <p class="accent"> chang.sh.ethan@gmail.com </p>
                     </div>
                  </a>
                  <a href ="https://ethanschang.github.io/photo-portfolio/" > 
                     <div class="btn" >
                        <img class = "svg-icon" src ="/icons/camera.svg" >
                        <p class="accent"> Photography Portfolio </p>
                     </div>
                  </a>
               </div>
            </div>
            
            
         </div>
         <div id="body_text">
            <p>
               Hello! I'm a second year mechanical engineering student at Cal Poly SLO, concentrating in mechatronics.
               I'm currently involved in <a class="accent" href="https://www.polysat.org/">Polysat</a> as part of the 
               structures and mechanisms team, and <a class="accent" href="https://www.calpolybikebuilders.com/">Cal Poly Bike Builders</a> as a club officer. 
               My goal with this website is to act as a repository for my projects and activities.
            </p>
            <p>
               <h3>Interests:</h3>
               <ul>
                  <li>Prototyping</li>
                  <li>Robotics, mechatronics, and control systems</li>
                  <li>Manufacturing - CNC machining, manual machining, additive manufacturing, etc.</li>
               </ul>
               <h3>Skills:</h3>
               <ul>
                  <li>CAD: Onshape, Solidworks, Fusion360</li>
                  <li>Fabrication: manual machining (mill, lathe, etc.), CNC machining (3-axis mill), TIG welding</li>
                  <li>Programming: Python, Matlab</li>
               </ul>
            </p>
         </div>
         
         
         <div id="bottom-links">
            <a class="link-large" href ="/projects/">
               <p class="accent">Projects</p>
            </a>
            <a class="link-large" href ="/resume/">
               <p class="accent">Resume</p>
            </a>    

         </div>
        
    </div>
    
</Layout>

