---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <div class="card-grid">
        <Card
            url="/projects/2023_robotics"
            image="/src/images/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/2023_robotics"
            image="/src/images/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/2023_robotics"
            image="/src/images/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/2023_robotics"
            image="/src/images/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/2022_robotics"
            image="/src/images/2022_robotics/cover_img.webp"
            title="2022 Robotics"
        />
    </div>
</Layout>

