---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <div class="card-grid">
        <Card
            url="/projects/major_projects/hardtail_mtb"
            image="/major_projects/hardtail_mtb/cover_img.webp"
            title="Hardtail MTB"
        />
        <Card
            url="/projects/major_projects/usda"
            image="/major_projects/usda/cover_img.webp"
            title="USDA Research Experience"
        />
        <Card
            url="/projects/major_projects/linkage_simulation"
            image="/major_projects/linkage_simulation/cover_img.webp"
            title="Linkage Simulation"
        />
        <Card
            url="/projects/major_projects/polysat"
            image="/major_projects/polysat/cover_img.webp"
            title="Polysat"
        />
        <Card
            url="/projects/major_projects/2023_robotics"
            image="/major_projects/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/major_projects/2022_robotics"
            image="/major_projects/2022_robotics/cover_img.webp"
            title="2022 Robotics"
        />
    </div>
</Layout>

