---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <div class="card-grid">
        <Card
            url="/projects/hardtail_mtb"
            image="/hardtail_mtb/cover_img.jpg"
            title="Hardtail MTB"
        />
        <Card
            url="/projects/linkage_simulation"
            image="/linkage_simulation/cover_img.webp"
            title="Linkage Simulation"
        />
        <Card
            url="/projects/polysat"
            image="/polysat/cover_img.webp"
            title="Polysat"
        />
        <Card
            url="/projects/2023_robotics"
            image="/2023_robotics/cover_img.webp"
            title="2023 Robotics"
        />
        <Card
            url="/projects/2022_robotics"
            image="/2022_robotics/cover_img.webp"
            title="2022 Robotics"
        />
    </div>
</Layout>

