---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Resume";
---
<Layout pageTitle={pageTitle}>
    <div class="markdown_container">
        <h1 class="title">Resume</h1>
        <embed src="/src/images/Ethan_Chang_Resume.pdf" width="800px" height="1000px" />
    </div>

</Layout>