---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Side Projects";
---
<Layout pageTitle={pageTitle}>
    
    <div class="card-grid">
        <Card
            url="/projects/small_projects/PCB_design"
            image="/small_projects/PCB/layout.webp"
            title="PCB Design"
        />
        <Card
            url="/projects/small_projects/5axis"
            image="/small_projects/5axis/before_tabs.webp"
            title="5 Axis Machining"
        />
        <Card
            url="/projects/small_projects/cnc_cert"
            image="/major_projects/polysat/cnc_mill.webp"
            title="CNC Certification"
        />
        <Card
            url="/projects/small_projects/pens"
            image="/small_projects/pen/cover_img.webp"
            title="Machined Bolt Action Pen"
        />
    </div>
        
</Layout>

