---
---
<div class="navbar">
  
    <h1 class="navbar_title">
        <a href="/">Ethan Chang</a>
    </h1>

    <div class="navbar__menu">
        <a class="navbar_link" href="/">Home</a>
        <a class="navbar_link" href="/projects">Main Projects</a>
        <a class="navbar_link" href="/side-projects">Side Projects</a>
        <a class="navbar_link" href="/resume">Resume</a>
    </div>
</div>

